



/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: repeat(3, 1fr); 
  gap: 1rem;
}

.header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: orange;
}

.connectButton {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  background-color: blue;
}

.controlButtons {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  background-color: red;
}

.todoList {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  background-color: teal;
} */
